---
import { Image } from 'astro:assets'
import {
  HeroElementFragment,
  DisplaySettingsFragment
} from '../../../../../services/graphql/__generated/sdk'
import { ContentPayload } from '../../../../../services/shared/ContentPayload'
export interface Props {
  data: HeroElementFragment;
  displaySettings: DisplaySettingsFragment[];
  contentPayload: ContentPayload;
}
const { data } = Astro.props as Props
const videoUrl = data.Video?.url.default || null
const imageUrl = data.Image?.url.default || null
const hasVideo = videoUrl !== null
---
<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.

<!-- FullWidthBanner.astro -->
<section class="relative h-[100vh] w-full overflow-hidden text-white">
  <div
  class="relative h-[50vh] w-screen bg-cover bg-center"
  style={`background-image: url(${imageUrl});`}
  >
  <!-- Button at the bottom-left -->
  <div class="absolute bottom-32 left-64">
    <button class="bg-green-500 hover:bg-green-600 text-white font-medium px-6 py-2 rounded">
      {data.CallToAction.text}
    </button>
  </div>
  </div>
</section>